.itemsList-container {
  position: absolute;
  top: 42vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.itemList-container-inner {
  display: flex;
  align-items: center;
  background-color: hsl(235, 19%, 35%);
  border-bottom: solid 1px hsl(234, 12%, 51%);

  width: 33vw;
  height: 60px;
}
.itemsList-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.itemsList-button:focus {
  outline: none;
}
.itemsList-button-inside {
  width: 20px;
  height: 20px;
  border: solid 1px hsl(0, 0%, 98%);
  border-radius: 100%;
  opacity: 50%;
  margin: 0 20px 0 20px;
}
.light-theme-button-inside-light {
  border: solid 1px hsl(0, 0%, 15%);
  background-color: rgb(71, 71, 71);
}
.itemsList-item-light {
  color: black !important;
  opacity: 90%;
}
.itemsList-button-inside-completed {
  background: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  ) !important;
  background-image: url(../../../../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.light-theme-container {
  background-color: rgb(228, 226, 223);
}
.itemsList-item {
  color: beige;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
