.create-container {
  width: 100vw;
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-inner-container {
  display: flex;

  align-items: center;
  background-color: hsl(235, 19%, 35%);
  border-radius: 6px;
  width: 33vw;
  height: 60px;
}
.create-icon {
 width: 20px;
 height: 20px;
 border: solid 1px hsl(0, 0%, 98%);
 border-radius: 100%;
 opacity: 50%;
 margin: 0 20px 0 20px;
}
.create-input{
    width: 100%;
    margin-right: 20px;
    height: 60%;
    background: none;
    border: none;
}
.create-input:focus {
    outline: none;
    border: none;
    caret-color: white;
  }